<form [formGroup]="form" (ngSubmit)="makeTransaction()">
  <div class="form-group row">
    <label>Sender</label>
    <input class="form-control" formControlName="sender">
  </div>
  <div class="form-group row">
    <label>Recipient</label>
    <input class="form-control" formControlName="recipient">
  </div>
  <div class="form-group row">
    <label>Amount</label>
    <input class="form-control" type="number" formControlName="amount">
  </div>
  <div class="text-center">
  <button type="submit" class="btn btn-outline-dark m-1" >Commit transaction</button>
  </div>
</form>
